<!-- your html code here -->

<div class="container">
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure voluptate itaque nihil tempore sit dolor cupiditate accusantium quibusdam! Minus, assumenda. Totam debitis ab corrupti excepturi hic distinctio reprehenderit libero!</p>
    
    <div class="card-group">
        <div class="card mx-3">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body"  > 
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deserunt amet eveniet praesentium perferendis nulla?</p>
            
          </div>
        </div>
        <div class="card mx-3">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aut et neque delectus cumque rerum.</p>
            
          </div>
        </div>
        <div class="card mx-3">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse expedita possimus, voluptate cumque iusto ad.</p>
            
          </div>
        </div>
      </div>